<html>
    <head>
        <title>Completed?</title>
    </head>
    <body>
        <h4> Completed? </h4>

        <form action="/tasks/{id}" method="patch">
            <input type="checkbox" name="completion" value="boolean" />
            <input type="submit" value="send" />
        </form>
        <p><a href='/'>Home</a></p>
    </body>
</html>
